<% for(let data of datas) { %> 
    <div class="shadow p-3 mb-5 bg-white rounded mt-3">
      <div class="media">
        <img src="<%=data.i.source%>" class="mr-3" alt="<%=data.name%>.jpeg" style="width: 140px; height: 140px;">
          <div class="media-body">
              <h3 class="mt-0 text-center"><%=data.plusHotel(data.name)%></h3>
              <img src="https://img.icons8.com/ios/50/000000/bed.png" style="width: 20px; height: 20px; margin-left: 20px; position: absolute;">
              <p class="mt-0 ml-5">Rooms Available: <%=data.roomsavailable%></p>
              <img src="https://img.icons8.com/wired/64/000000/price-tag-euro.png" style="width: 20px; height: 20px; margin-left: 20px; position: absolute;">
              <p class="mt-0 ml-5">Price: <%=data.price%> /Nigth</p>
          </div>
        </div>
        <div style="text-align: right;">
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Book Now
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <%- include('./booking', {data}) %>
            </div>
          </div>
        </div>
    </div><br>
  <% } %>